{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
    <section data-jarallax data-speed=".8" class="py-15 overlay-black overlay-60 jarallax" style="background-image: url(https://picsum.photos/2000)">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <blockquote class="blockquote mb-0">
                        <p class="h2 text-white">
                            {{ createur.aPropos }}
                        </p>
                        <footer class="blockquote-footer text-white-50 mb-0">
                            {{ createur.prenom }} {{ createur.nom }}
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
