<!-- ARTICLES -->
<section class="pt-7 pt-md-10 bg-light">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-0">
                    Dernières actualités
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                    Here’s what we've been up to recently.
                </p>

            </div>
            <div class="col-12 col-md-auto">

                <!-- Button -->
                <a href={{ path('actualites')}} class="btn btn-sm btn-outline-gray-300 d-none d-md-inline">
                    Tout voir
                </a>

            </div>
        </div> <!-- / .row -->
        <div class="row">
            {% for blogpost in blogposts %}
            <div class="col-12 col-md-6 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" data-aos="fade-up" data-aos-delay="100">

                    <!-- Image -->
                    <a class="card-img-top" href="#!">

                        <!-- Image -->
                        <img src="https://picsum.photos/2000" alt="..." class="card-img-top">

                        <!-- Shape -->
                        <div class="position-relative">
                            <div class="shape shape-bottom shape-fluid-x text-white">
                                <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                        </div>

                    </a>

                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Heading -->
                        <h3>
                            {{ blogpost.titre }}
                        </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            {{ blogpost.contenu|u.truncate(150, '...', false) }}
                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta mt-auto" href="#!">

                        <!-- Divider -->
                        <hr class="card-meta-divider">

                        <!-- Date -->
                        <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                            <time datetime="2019-05-02">publiée le {{ blogpost.date|date('d/m/y') }}</time>
                        </p>

                    </a>

                </div>

            </div>
            {% endfor %}
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div><p></p></div>
</section>