{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'home/welcome.html.twig' %}
    {% include 'home/realisation.html.twig' %}
    {% include 'home/blogpost.html.twig' %}

{% endblock %}
