{% extends 'base.html.twig' %}

{% block title %}Hello BlogPostsController!{% endblock %}

{% block body %}

    <!-- ARTICLES -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading -->
                    <h2 class="mb-0">
                        Toutes les actualités
                    </h2>
                    <p class="mb-5 text-muted">
                        These span the grid's entire width with several options.
                    </p>
                </div>
                    {% for blogpost in blogposts %}
                    <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <div class="card mb-6 shadow-light-lg lift lift-lg">
                            <a class="card-body" href="#!">
                                <h3>
                                    {{ blogpost.titre }}
                                </h3>
                                <p class="mb-0 text-muted">
                                    {{ blogpost.contenu|u.truncate(200, '...', false) }}
                                </p>
                            </a>
                            <a class="card-meta mt-auto" href="#!">
                                <hr class="card-meta-divider">
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                    <time datetime="2019-05-02">Ajouté le {{ blogpost.date|date('d/m/y') }}</time>
                                </p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
        </div>
    </section>



{% endblock %}
