<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href={{ path('app_home') }}>
            <img src="/img/logo.png" class="navbar-brand-img" alt="...">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarLandings" href={{ path('realisations') }}>
                        Réalisations
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarPages" href={{ path('actualites') }}>
                        Actualités
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarAccount" href={{ path('app_portfolio') }}>
                        Portfolio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                        {% for categorie in categorieNavbar() %}
                            <li class="dropdown-item dropend">
                                <a href="{{ path('app_portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDocumentation" href={{ path('app_a_propos') }}>
                        A Propos
                    </a>
                </li>
            </ul>

            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
                Me contacter
            </a>

        </div>

    </div>
</nav>