{% extends 'base.html.twig' %}

{% block title %}Hello CreationController!{% endblock %}

{% block body %}

<!-- ARTICLES -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <h2 class="mb-0">
                    Toutes les réalisations
                </h2>
                <p class="mb-5 text-muted">
                    These span the grid's entire width with several options.
                </p>
            </div>
            {% for creation in creations %}
            <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="card mb-6 shadow-light-lg lift lift-lg">
                    <a class="card-img-top" href="#!">
                        <img src="{{ creation.file }}" alt="..." class="card-img-top">
                        <div class="position-relative">
                            <div class="shape shape-bottom shape-fluid-x text-white">
                                <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                            </div>
                        </div>
                    </a>
                    <!-- Body -->
                    <a class="card-body" href="#!">
                        <h3>
                            {{ creation.nom}}
                        </h3>
                        <p class="mb-0 text-muted">
                            {{ creation.description|u.truncate(200, '...', false) }}
                        </p>
                    </a>
                    <a class="card-meta mt-auto" href="#!">
                        <hr class="card-meta-divider">
                        <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                            <time datetime="2019-05-02">Ajouté le {{ creation.date|date('d/m/y') }}</time>
                        </p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {% do creations.setPageRange(2) %}
        {{ knp_pagination_render(creations, 'base/pagination.html.twig') }}
    </div>
</section>



{% endblock %}
